<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" id="bootstrap-css">
</head>
<body>
<div class="container login-container">
    <div class="row">
        <div class="col-md-6 ads">
            <h1><span id="fl">Online Shopping</span></h1>
            <h6>Professor - Tina Xing</h6>
            <br><br>
            <h6>Lam Binh Tang - 610771</h6>
        </div>
        <div class="col-md-6 login-form">
            <div class="profile-img">
                <img th:src="@{/images/login.png}" alt="profile_img" height="180px" width="180px;">
            </div>
            <h3>Login</h3>
            <form th:action="@{/login}" method="POST" class="form-signin">
                <input type="text" id="user_name" name="user_name" placeholder="User Name"
                       class="form-control"/> <br/>
                <input type="password" th:placeholder="Password"
                       id="password" name="password" class="form-control"/> <br/>

                <div align="center" th:if="${param.error}">
                    <p style="font-size: 20; color: #FF1C19;">User Name or Password invalid, please verify</p>
                </div>
                <input type="checkbox" name="remember-me" /> Remember Me?<br/>
                <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
                        th:text="Login"></button>
            </form>
            <form class="form-group forget-password" th:action="@{/registration}" method="get">
                <button class="btn btn-md btn-warning btn-block" type="Submit">Registration</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
