<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/order-review.css}"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <h1 th:text="${'Order Review List'}"></h1>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-sm-4 col-md-2">Buyer</th>
                    <th class="col-sm-1 col-md-2">Created Date</th>
                    <th class="col-sm-1 col-md-2">Status</th>
                    <th class="col-sm-1 col-md-2">Total</th>
                    <th class="col-sm-1 col-md-2">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}">
                    <td class="col-sm-4 col-md-2">
                        <h4 class="text-left" readonly th:text="${order.owner.getName() + ', ' + order.owner.getLastName()}"></h4>
                    </td>
                    <td class="col-sm-1 col-md-2" style="text-align: center">
                        <h4 class="text-left" readonly th:text="${order.getOrderDate()}"></h4>
                    </td>
                    <td class="col-sm-1 col-md-2 text-left"
                        th:text="${#messages.msgOrNull('orderStatus.' + order.getStatus().toString())}">
                        <strong>$4.87</strong></td>
                    <td class="col-sm-1 col-md-2 text-left"
                        th:text="${'$'+ #numbers.formatDecimal(order.total, 0, 'COMMA', 2, 'POINT')}">
                        <strong>$14.61</strong>
                    </td>
                    <td class="col-sm-1 col-md-2 text-left">
                        <form th:action="@{/seller/orders/{orderId}(orderId = ${order.getOrderId()})}" method="GET">
                            <button type="submit" class="btn btn-primary">
                                Review<span class="glyphicon glyphicon-play"></span>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
