<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/order-review.css}"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <h1 th:text="${'Order Review'}"></h1>
            <h2 style="color: green" th:text="${'Order status: ' + #messages.msgOrNull('orderStatus.' + order.getStatus().toString())}"></h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Product</th>
                    <th> </th>
                    <th>Quantity</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="orderItem : ${order.getOrderItems()}">
                    <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img
                                    th:src="@{'/files/' + ${orderItem.product.imagePath}}"
                                    th:title="${orderItem.product.description}" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#" th:text="${orderItem.product.productName}">Product
                                    name</a></h4>
                                <h5 class="media-heading"> by <a href="#" th:text="${orderItem.product.producer}">Brand
                                    name</a></h5>
                                <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                            </div>
                        </div>
                    </td>
                    <td></td>
                    <td class="col-sm-1 col-md-1" style="text-align: center">
                        <h4 class="text-center" readonly th:text="${orderItem.quantity}"></h4>
                    </td>
                    <td class="col-sm-1 col-md-1 text-center"
                        th:text="${'$'+ #numbers.formatDecimal(orderItem.product.getPrice(), 0, 'COMMA', 2, 'POINT')}">
                        <strong>$4.87</strong></td>
                    <td class="col-sm-1 col-md-1 text-center"
                        th:text="${'$'+ #numbers.formatDecimal(orderItem.product.getPrice() * orderItem.quantity, 0, 'COMMA', 2, 'POINT')}">
                        <strong>$14.61</strong></td>
                </tr>
                <tr>
                    <td>  </td>
                    <td>  </td>
                    <td></td>
                    <td><h3>Total</h3></td>
                    <td class="text-right"><h3 th:text="${'$'+ #numbers.formatDecimal(order.total, 0, 'COMMA', 2, 'POINT')}">
                        <strong>$31.53</strong></h3></td>
                </tr>
                <tr>
                    <td>  </td>
                    <td>  </td>
                    <td>  </td>
                    <td>
                        <form th:if="${order.status.toString().equals('PLACE_ORDER')}" th:action="@{/seller/orders/{orderId}/approve(orderId = ${order.getOrderId()})}" method="POST">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Approve
                            </button>
                        </form>
                    </td>
                    <td>
                        <form th:if="${order.status.toString().equals('PLACE_ORDER')}" th:action="@{/seller/orders/{orderId}/reject(orderId = ${order.getOrderId()})}" method="POST">
                            <button type="submit" class="btn btn-danger">
                                Reject <span class="glyphicon glyphicon-p  lay"></span>
                            </button>
                        </form>
                        <form th:if="${order.status.toString().equals('SHIPPED')}" th:action="@{/seller/orders/{orderId}/delivered(orderId = ${order.getOrderId()})}" method="POST">
                            <button type="submit" class="btn btn-primary">
                                Change to delivered<span class="glyphicon glyphicon-play"></span>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
