<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage product's Seller</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/product-list.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap_3.2.0.min.css}" id="bootstrap-css">
</head>
<body>
<div class="container">
    <div class="row">
        <h1 class="col-md-16"> Manage List Product</h1>
        <div class="col-md-6">
            <form method="get" th:action="@{/seller/products/new}">
                <button type="submit" class="btn-add btn-primary btn">Add new product</button>
            </form>
        </div>

        <br>
    </div>
    <div class="row">
        <div class="col-md-16">
            <div class="col-sm-6 col-md-4" th:each="product, iStat : ${products}">
                <div class="thumbnail">
                    <h4 class="text-center"><span class="label label-info" th:text="${product.producer}"></span></h4>
                    <p></p>
                    <div class="col-md-4">
                        <img th:src="@{'/files/' + ${product.imagePath}}" th:title="${product.description}"
                             style="display: block; min-height: 200px; max-height: 300px"
                             class="thumbnail img-responsive cursor-pointer">
                    </div>
                    <p></p>
                    <div class="caption">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <h3 th:text="${product.productName}"></h3>
                            </div>
                            <div class="col-md-6 col-xs-6 price">
                                <h3>
                                    <label th:text="${'$' + product.price}"></label></h3>
                            </div>
                        </div>
                        <p class="cursor-pointer"
                           th:text="${product.description.length()>50?(product.description.substring(0, 45) + '...'):product.description}"
                           th:title="${product.description}"></p>
                        <div class="row">
                            <div class="col-md-6">
                                <form th:object="${product}" method="post"
                                      th:action="@{/seller/products/{productId}/update(productId = ${product.getProductId()})}">
                                    <button type="submit" class="btn btn-primary btn-product">Update</button>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <form th:object="${product}" method="post"
                                      th:action="@{/seller/products/{productId}/delete(productId = ${product.getProductId()})}">
                                    <button type="submit" class="btn btn-danger btn-product">Delete</button>
                                </form>
                            </div>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
