<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage product's Seller</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/product-list.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript"
            src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/product.js}"></script>
</head>
<body>
<body style="background: #E9EC96">
<div>
    <div class="pull-right" style="padding-right:50px; background: #E9EC96;  width: 100%;  height: 35px;">
        <a style="font-size: 17px;" th:href="@{/}">Home</a>
        |<a style="font-size: 17px;" th:href="@{/seller/products/add}">Add Product</a>
        |<a style="font-size: 17px;" th:href="@{/seller/orders}">Review Orders</a>
        |<a style="font-size: 17px;" th:href="@{/logout}">Logout</a>
    </div>
</div>
<div>
    <div class="jumbotron" style="background: cornflowerblue;">
        <div class="container">
            <h1>Product List</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-16">
            <div class="col-sm-6 col-md-4" th:each="product, iStat : ${products}">
                <div class="thumbnail">
                    <h4 class="text-center"><span class="label label-info" th:text="${product.producer}"></span></h4>
                    <p></p>
                    <div class="col-md-4">
                        <img th:src="@{'/files/' + ${product.imagePath}}" th:title="${product.description}"
                             style="width: 200px"
                             class="img-fluid img-responsive cursor-pointer">
                    </div>
                    <p></p>
                    <div class="caption">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <h3 th:text="${product.productName}"></h3>
                            </div>
                            <div class="col-md-6 col-xs-6 price">
                                <h3>
                                    <label th:text="${'$' + product.price}"></label></h3>
                            </div>
                        </div>
                        <p class="cursor-pointer"
                           th:text="${product.description.length()>40?(product.description.substring(0, 40) + '...'):product.description}"
                           th:title="${product.description}"></p>
                        <div class="row">
                            <div class="col-md-6">
                                <form th:object="${product}" method="get"
                                      th:action="@{/seller/products/{productId}/update(productId = ${product.getProductId()})}">
                                    <button type="submit" class="btn btn-primary btn-product">Edit</button>
                                </form>
                            </div>

                            <div class="col-md-6">
                                <a href="#" class="btn btn-danger product-remove-btn"
                                   th:data="${product.getProductId()}">
                                    <span class="glyphicon glyphicon-remove"/></span> Remove</a>
                            </div>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
