<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new product</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/product-edit.css}"/>
    <!------ Include the above in your HEAD tag ---------->
<body style="background: #E9EC96">
<div>
    <div class="pull-right" style="padding-right:50px; background: #E9EC96;  width: 100%;  height: 35px;">
        <a style="font-size: 17px;" th:href="@{/}">Home</a>
        |<a style="font-size: 17px;" th:href="@{/seller/products/add}">Add Product</a>
        |<a style="font-size: 17px;" th:href="@{/seller/orders}">Review Orders</a>
        |<a style="font-size: 17px;" th:href="@{/logout}">Logout</a>
    </div>
</div>
<div>
    <div class="jumbotron" style="background: cornflowerblue;">
        <div class="container">
            <h1>Edit Product</h1>
        </div>
    </div>
</div>
<div class="container product">
    <div class="row">
        <div class="col-md-3">
            <div class="product-info">
                <h2>Edit Product</h2>
            </div>
        </div>
        <div class="col-md-9">
            <form class="product-form" method="POST" action="#"
                  enctype="multipart/form-data"
                  th:action="@{/seller/products/{productId}/update(productId=${productId})}" th:object="${product}">
                <div class="form-group">
                    <div class="col-lg-10">
                        <label th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"
                               class="validation-message"></label>
                        <input type="text" class="form-control" placeholder="Enter Product Name"
                               th:field="*{productName}">
                    </div>
                </div>
                <input th:field="*{imageName}" style="display: none">
                <div class="form-group">
                    <div class="col-lg-10">
                        <label th:if="${#fields.hasErrors('producer')}" th:errors="*{producer}"
                               class="validation-message"></label>
                        <input type="text" class="form-control" placeholder="Enter Producer Name"
                               th:field="*{producer}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10">
                        <label th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                               class="validation-message"></label>
                        <input type="number" class="form-control" placeholder="Enter price"
                               th:field="*{price}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10">
                        <img th:if="${product.imageName!=null}" th:src="@{'/files/' + ${product.imageName}}" th:title="${product.description}"
                             style="width: 50px"
                             class="img-fluid img-responsive cursor-pointer">
                        <label th:if="${#fields.hasErrors('imagePath')}" th:errors="*{imagePath}"
                               class="validation-message"></label>
                        <input type="file" class="form-control" id="imagePath" th:field="*{imagePath}">
                </div>
                <div class="form-group">
                    <div class="col-lg-10">
                        <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                               class="validation-message"></label>
                        <textarea class="form-control" rows="5" id="description" th:field="*{description}"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
