<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage product's Seller</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap_3.2.0.min.css}" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/buyer-home.css}"/>
</head>
<body>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger" type="Submit">Logout</button>
    </form>

    <form th:action="@{/buyer/carts/details}" method="get">
        <button class="btn btn-md btn-primary" type="Submit">View Cart Detail</button>
    </form>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-16">
            <div class="col-sm-6 col-md-4" th:each="product, iStat : ${products}">
                <div class="thumbnail">
                    <h4 class="text-center"><span class="label label-info" th:text="${product.producer}"></span></h4>
                    <p></p>
                    <div class="col-md-4">
                        <img th:src="@{'/files/' + ${product.imagePath}}" th:title="${product.description}"
                             style="width: 300px"
                             class="img-thumbnail img-responsive cursor-pointer">
                    </div>
                    <p></p>
                    <div class="caption">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <h3 th:text="${product.productName}"></h3>
                            </div>
                            <div class="col-md-6 col-xs-6 price">
                                <h3>
                                    <label th:text="${'$' + #numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}"></label></h3>
                            </div>
                        </div>
                        <p class="cursor-pointer"
                           th:text="${product.description.length()>40?(product.description.substring(0, 40) + '...'):product.description}"
                           th:title="${product.description}">
                        </p>
                        <p>
                            <span>Rate: </span>
                            <img th:src="@{/images/Star2.png}" style="width: 30px;" alt="cart"/>
                            <img th:src="@{/images/Star2.png}" style="width: 30px;" alt="cart"/>
                            <img th:src="@{/images/Star2.png}" style="width: 30px;" alt="cart"/>
                            <img th:src="@{/images/Star2.png}" style="width: 30px;" alt="cart"/>
                            <img th:src="@{/images/Star1.png}" style="width: 30px;" alt="cart"/>
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <p>Seller: <span style="color: #005cbf"
                                                 th:text="${product.supplier.name + ' ' + product.supplier.lastName}"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <form th:object="${product}" method="post"
                                      th:action="@{/buyer/carts/{productId}/add(productId = ${product.getProductId()})}">
                                    <button type="submit" class="btn btn-primary btn-product">
                                        <img th:src="@{/images/cart.png}" style="width: 40px;" alt="cart"/>Add To Cart
                                    </button>
                                </form>
                            </div>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
