<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shopping Products</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/buyer-home.css}"/>
    <script type="text/javascript" th:src="@{/js/buyer-home.js}"></script>
</head>
<body style="padding-top: 0;">
<div>
    <div class="pull-right" style="padding-right:50px">
        <a th:href="@{/}">Home</a>
        |<a th:href="@{/buyer/carts/details}">Shopping Cart</a>
        |<a th:href="@{/buyer/orders/history}">Order History</a>
        |<a th:href="@{/buyer/users/followed-users}">Followed Users</a>
        |<a th:href="@{/logout}">Logout</a>
    </div>
</div>
<div>
    <div class="jumbotron">
        <div class="container">
            <h1>Shopping Products</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-16">
            <div class="col-sm-6 col-md-4" th:each="product, iStat : ${products}">
                <div class="thumbnail">
                    <h4 class="text-center"><span class="label label-info" th:text="${product.producer}"></span></h4>
                    <p></p>
                    <div class="col-md-4">
                        <img th:src="@{'/files/' + ${product.imagePath}}" th:title="${product.description}"
                             style="width: 300px"
                             class="img-thumbnail img-responsive cursor-pointer">
                    </div>
                    <p></p>
                    <div class="caption">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <h3 th:text="${product.productName}"></h3>
                            </div>
                            <div class="col-md-6 col-xs-6 price">
                                <h3>
                                    <label th:text="${'$' + #numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}"></label>
                                </h3>
                            </div>
                        </div>
                        <p class="cursor-pointer"
                           th:text="${product.description.length()>40?(product.description.substring(0, 40) + '...'):product.description}"
                           th:title="${product.description}">
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <p>Seller:
                                    <a style="font-size: 17px;"
                                       th:href="@{/buyer/users/{userName}/profile(userName= ${product.getSupplier().getUserName()})}"
                                       th:text="${product.supplier.name + ' ' + product.supplier.lastName}"
                                    >User name</a>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 pull-left">
                                <a href="#"
                                   th:attr="productId=${product.productId}"
                                   class="btn btn-success add-product-to-cart">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart
                                </a>
                            </div>
                            <div class="col-md-3 pull-right">
                                <a class="btn btn-primary"
                                   th:href="@{/buyer/products/{productId}(productId= ${product.getProductId()})}"
                                >Details</a>
                            </div>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
