<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/order-review.css}"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div class="pull-right" style="padding-right:50px;font-size: 20px;">
        <a th:href="@{/}">Home</a>
        |<a th:href="@{/buyer/carts/details}">Shopping Cart</a>
        |<a th:href="@{/buyer/orders/history}">Order History</a>
        |<a th:href="@{/buyer/users/followed-users}">Followed Users</a>
        |<a th:href="@{/logout}">Logout</a>
    </div>
    <div class="pull-left" style="padding: 5px; font-size: 20px;color:#005cbf" th:text="${'User: ' + user.name + ', ' + user.lastName  + ' ( ' + #numbers.formatDecimal(user.getAccount().getPoints(), 0, 'COMMA', 2, 'POINT') +' points )'}"></div>
</div>
<div>
    <div class="jumbotron">
        <div class="container">
            <h1>Order Review</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row shop-tracking-status">
        <div class="col-md-12">
            <div>
                <div class="order-status">

                    <div class="order-status-timeline">
                        <!-- class names: c0 c1 c2 c3 and c4 -->
                        <div class="order-status-timeline-completion c3"></div>
                    </div>

                    <div class="image-order-status image-order-status-new active img-circle">
                        <span class="status">Shopping</span>
                        <div class="icon"></div>
                    </div>
                    <div class="image-order-status image-order-status-active active img-circle">
                        <span class="status">Review Order</span>
                        <div class="icon"></div>
                    </div>
                    <div class="image-order-status image-order-status-intransit active img-circle">
                        <span class="status">Add Shipping adress</span>
                        <div class="icon"></div>
                    </div>
                    <div class="image-order-status image-order-status-delivered active img-circle">
                        <span class="status">Payment</span>
                        <div class="icon"></div>
                    </div>
                    <div class="image-order-status image-order-status-completed  img-circle">
                        <span class="status">Completed</span>
                        <div class="icon"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" th:if="${orders.size() > 0}" th:each="cardItems, iStat: ${orders}">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <h1 th:text="${'Order: ' + (iStat.index + 1) + ' of seller:  ' + cardItems.get(0).product.supplier.name + ', ' + cardItems.get(0).product.supplier.lastName}"></h1>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Product</th>
                    <th> </th>
                    <th>Quantity</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cartItem : ${cardItems}">
                    <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img
                                    th:src="@{'/files/' + ${cartItem.product.imagePath}}"
                                    th:title="${cartItem.product.description}" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#" th:text="${cartItem.product.productName}">Product
                                    name</a></h4>
                                <h5 class="media-heading"> by <a href="#" th:text="${cartItem.product.producer}">Brand
                                    name</a></h5>
                                <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                            </div>
                        </div>
                    </td>
                    <td></td>
                    <td class="col-sm-1 col-md-1" style="text-align: center">
                        <h4 class="text-center" readonly th:text="${cartItem.quantity}"></h4>
                    </td>
                    <td class="col-sm-1 col-md-1 text-center"
                        th:text="${'$'+ #numbers.formatDecimal(cartItem.product.getPrice(), 0, 'COMMA', 2, 'POINT')}">
                        <strong>$4.87</strong></td>
                    <td class="col-sm-1 col-md-1 text-center"
                        th:text="${'$'+ #numbers.formatDecimal(cartItem.product.getPrice() * cartItem.quantity, 0, 'COMMA', 2, 'POINT')}">
                        <strong>$14.61</strong></td>
                </tr>
                <tr th:if="${iStat.last}">
                    <td>  </td>
                    <td>  </td>
                    <td></td>
                    <td><h3>Total</h3></td>
                    <td class="text-right"><h3 th:text="${'$'+ #numbers.formatDecimal(total, 0, 'COMMA', 2, 'POINT')}">
                        <strong>$31.53</strong></h3></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" id="addressPanel">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
                <fieldset>
                    <!-- Form Name -->
                    <legend>Shipping Address</legend>
                    <form autocomplete="off" th:action="@{/buyer/orders/}"
                          th:object="${address}" method="POST" class="form-horizontal"
                          role="form">
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" th:text="#{registration.acount.address.addressLine1}">Line
                                1</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{addressLine1}" placeholder="Address Line 1"
                                       class="form-control"/> <label
                                    th:if="${#fields.hasErrors('addressLine1')}" th:errors="*{addressLine1}"
                                    class="validation-message"></label>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" th:text="#{registration.acount.address.addressLine2}">Line
                                2</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{addressLine2}" placeholder="Address Line 2"
                                       class="form-control"/> <label
                                    th:if="${#fields.hasErrors('addressLine2')}" th:errors="*{addressLine2}"
                                    class="validation-message"></label>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   th:text="#{registration.acount.address.city}">City</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{city}" placeholder="City"
                                       class="form-control"/> <label
                                    th:if="${#fields.hasErrors('city')}" th:errors="*{city}"
                                    class="validation-message"></label>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   th:text="#{registration.acount.address.state}">State</label>
                            <div class="col-sm-4">
                                <input type="text" th:field="*{state}" placeholder="State"
                                       class="form-control"/> <label
                                    th:if="${#fields.hasErrors('state')}" th:errors="*{state}"
                                    class="validation-message"></label>
                            </div>
                            <label class="col-sm-2 control-label" th:text="#{registration.acount.address.postcode}">Postcode</label>
                            <div class="col-sm-4">
                                <input type="text" th:field="*{postcode}" placeholder="Postcode"
                                       class="form-control"/> <label
                                    th:if="${#fields.hasErrors('postcode')}" th:errors="*{postcode}"
                                    class="validation-message"></label>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" th:text="#{registration.acount.address.country}">Country</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{country}" placeholder="Country"
                                       class="form-control"/> <label
                                    th:if="${#fields.hasErrors('country')}" th:errors="*{city}"
                                    class="validation-message"></label>
                            </div>
                        </div>
                        <legend style="color: #0056b3">Note: Your payment will be automatic process to your account
                            after seller approve your order.
                        </legend>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-play"></span> Place Order
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </fieldset>
        </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->
</div>
</body>
</html>


