<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/order-review.css}"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row shop-tracking-status">
        <div class="col-md-12">
            <div>
                <div class="order-status">

                    <div class="order-status-timeline">
                        <!-- class names: c0 c1 c2 c3 and c4 -->
                        <div class="order-status-timeline-completion c1"></div>
                    </div>

                    <div class="image-order-status image-order-status-new img-circle">
                        <span class="status">Shopping</span>
                        <div class="icon"></div>
                    </div>
                    <div class="image-order-status image-order-status-active active img-circle">
                        <span class="status">Review Order</span>
                        <div class="icon"></div>
                    </div>
                    <div class="image-order-status image-order-status-intransit img-circle">
                        <span class="status">Add Shipping adress</span>
                        <div class="icon"></div>
                    </div>
                    <div class="image-order-status image-order-status-delivered img-circle">
                        <span class="status">Payment</span>
                        <div class="icon"></div>
                    </div>
                    <div class="image-order-status image-order-status-completed  img-circle">
                        <span class="status">Completed</span>
                        <div class="icon"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" th:if="${orders.size() > 0}" th:each="cardItems, iStat: ${orders}">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <h1 th:text="${'Order: ' + (iStat.index + 1) + ' of seller:  ' + cardItems.get(0).product.supplier.name + ', ' + cardItems.get(0).product.supplier.lastName}"></h1>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Product</th>
                    <th> </th>
                    <th>Quantity</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cartItem : ${cardItems}">
                    <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img
                                    th:src="@{'/files/' + ${cartItem.product.imagePath}}"
                                    th:title="${cartItem.product.description}" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#" th:text="${cartItem.product.productName}">Product
                                    name</a></h4>
                                <h5 class="media-heading"> by <a href="#" th:text="${cartItem.product.producer}">Brand
                                    name</a></h5>
                                <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                            </div>
                        </div>
                    </td>
                    <td></td>
                    <td class="col-sm-1 col-md-1" style="text-align: center">
                        <h4 class="text-center" readonly th:text="${cartItem.quantity}"></h4>
                    </td>
                    <td class="col-sm-1 col-md-1 text-center"
                        th:text="${#numbers.formatDecimal(cartItem.product.getPrice(), 0, 'COMMA', 2, 'POINT')}">
                        <strong>$4.87</strong></td>
                    <td class="col-sm-1 col-md-1 text-center"
                        th:text="${#numbers.formatDecimal(cartItem.product.getPrice() * cartItem.quantity, 0, 'COMMA', 2, 'POINT')}">
                        <strong>$14.61</strong></td>
                </tr>
                <tr>
                    <td>  </td>
                    <td>  </td>
                    <td></td>
                    <td><h5></h5></td>
                    <td class="text-right"><h5><strong></strong></h5></td>
                </tr>
                <tr th:if="${iStat.last}">
                    <td>  </td>
                    <td>  </td>
                    <td></td>
                    <td><h5>Subtotal</h5></td>
                    <td class="text-right"><h5 th:text="${#numbers.formatDecimal(total, 0, 'COMMA', 2, 'POINT')}">
                        <strong>$24.59</strong></h5></td>
                </tr>
                <tr th:if="${iStat.last}">
                    <td>  </td>
                    <td>  </td>
                    <td></td>
                    <td><h3>Total</h3></td>
                    <td class="text-right"><h3 th:text="${#numbers.formatDecimal(total, 0, 'COMMA', 2, 'POINT')}">
                        <strong>$31.53</strong></h3></td>
                </tr>
                <tr th:if="${iStat.last}">
                    <td>  </td>
                    <td>  </td>
                    <td></td>
                    <td>
                        <form th:action="@{/buyer/}" method="get">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                            </button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/buyer/orders/view/}" method="get">
                            <button type="submit" class="btn btn-success">
                                Checkout <span class="glyphicon glyphicon-play"></span>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
