<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/order-review.css}"/>
    <meta charset="UTF-8">
    <title>Order History</title>
</head>
<body>
<div>
    <div class="pull-right" style="padding-right:50px">
        <a th:href="@{/}">Home</a>
        |<a th:href="@{/buyer/carts/details}">Shopping Cart</a>
        |<a th:href="@{/buyer/orders/history}">Order History</a>
        |<a th:href="@{/buyer/users/followed-users}">Followed Users</a>
        |<a th:href="@{/logout}">Logout</a>
    </div>
</div>
<div>
    <div class="jumbotron">
        <div class="container">
            <h1>Order History</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-sm-4 col-md-2">Order Id</th>
                    <th class="col-sm-4 col-md-2">Seller</th>
                    <th class="col-sm-1 col-md-2">Status</th>
                    <th class="col-sm-1 col-md-2">Created Date</th>
                    <th class="col-sm-1 col-md-2">Shipped Date</th>
                    <th class="col-sm-1 col-md-2">Delivered Date</th>
                    <th class="col-sm-1 col-md-2">Total</th>
                    <th class="col-sm-1 col-md-2">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order, iStat : ${orders}" th:style="${iStat.odd?'background:#eff8ff':'background:white'}">
                    <td class="col-sm-4 col-md-2">
                        <label class="text-left" readonly th:text="${'P' + #numbers.formatInteger(order.getOrderId(),10)}"></label>
                    </td>
                    <td class="col-sm-4 col-md-2"
                        th:text="${order.seller.getName() + ', ' + order.seller.getLastName()}">
                    </td>
                    <td class="col-sm-1 col-md-2 text-left">
                        <strong th:style="${order.getStatus().toString().equals('CANCEL')|| order.getStatus().toString().equals('REJECT')? 'color: red' : 'color: green'}" th:text="${#messages.msgOrNull('orderStatus.' + order.getStatus().toString())}">$4.87</strong>
                    </td>
                    <td class="col-sm-1 col-md-2" style="text-align: left" th:text="${order.getOrderDate()}">
                    </td>
                    <td class="col-sm-1 col-md-2" style="text-align: left" th:text="${order.getShippedDate()}">
                    </td>
                    <td class="col-sm-1 col-md-2" style="text-align: left" th:text="${order.getDeliveredDate()}">
                    </td>
                    <td class="col-sm-1 col-md-2 text-left">
                        <strong th:text="${'$'+ #numbers.formatDecimal(order.total, 0, 'COMMA', 2, 'POINT')}">$14.61</strong>
                    </td>
                    <td class="col-sm-1 col-md-2 text-left">
                        <form th:action="@{/buyer/orders/{orderId}/history(orderId = ${order.getOrderId()})}" method="Get">
                            <button type="submit" class="btn btn-primary">
                                Review<span class="glyphicon glyphicon-play"></span>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
