<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/seller-profile.css}"/>
    <title>Seller Profile</title>
</head>
<body>
<div>
    <div class="pull-right" style="padding-right:50px">
        <a th:href="@{/}">Home</a>
        |<a th:href="@{/buyer/carts/details}">Shopping Cart</a>
        |<a th:href="@{/buyer/orders/history}">Order History</a>
        |<a th:href="@{/buyer/users/followed-users}">Followed Users</a>
        |<a th:href="@{/logout}">Logout</a>
    </div>
</div>
<div>
    <div class="jumbotron">
        <div class="container">
            <h1>Seller's Profile</h1>
        </div>
    </div>
</div>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
            <div class="well profile">
                <div class="col-sm-12">
                    <div class="col-xs-12 col-sm-10">
                        <h2 th:text="${userProfile.name + ', ' + userProfile.lastName}">Nicole Pearson</h2>
                        <p><strong>About: </strong> <span th:text="${userProfile.aboutUs}"></span> </p>
                        <p><strong>Email: </strong> <span th:text="${userProfile.email}"></span> </p>
                        <p><strong>Phone: </strong> <span th:text="${userProfile.phone}"></span> </p>
                    </div>
                    <div class="col-xs-12 col-sm-4 text-center">
                    </div>
                </div>
                <div class="col-xs-12 divider text-center">
                    <div class="col-xs-12 col-sm-4 emphasis">
                        <h2><strong th:text="${numberFollowers}"> 20,7K </strong></h2>
                        <p><small>Followers</small></p>
                        <form th:if="${isFollowed}" th:action="@{/buyer/users/{userName}/unFollow(userName = ${userProfile.userName})}" method="POST">
                            <button type="submit" class="btn btn-warning btn-block"><span class="fa fa-minus-circle"></span> Un-Follow </button>
                        </form>
                        <form th:if="${!isFollowed}" th:action="@{/buyer/users/{userName}/follow(userName = ${userProfile.userName})}" method="POST">
                            <button type="submit" class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
